body {
    background-image: url("ACREATORWORLD.png");
    background-repeat: no-repeat;
    background-size:cover;
}
#etn-btn {
    width:303.1px;
    height:95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #ff3131;
    height: 48px;
    :hover{
        transform: scale(1.04);
        background-color: #e02121;
    }



}

